# SPOTIFY WEB API | CREDENTIALS
SPOTIFY_CLIENT_ID=YOUR-CLIENT-ID
SPOTIFY_CLIENT_SECRET=YOUR-CLIENT-SECRET

# SPOTIFY WEB API | OAUTH
SPOTIFY_API_URL=https://api.spotify.com/v1
SPOTIFY_ACCESS_URL=https://accounts.spotify.com/authorize?
SPOTIFY_TOKEN_URL=https://accounts.spotify.com/api/token
SPOTIFY_REDIRECT_URI=YOUR-REDIRECT-URI/auth/callback

# TEST VALUES
SPOTIFY_AUTH_TESTING_MODE=False
SPOTIFY_TEST_ALBUM=60I3K3TcnIhLoMiTaeYXx3?si=vDDJrZU5RuC_wpk9Vr_I_Q