@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

@theme inline {
	--font-display: var(--font-manrope);
	--font-copy: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
		source-sans-pro, sans-serif;
}

@theme {
	--container-4xs: 12rem;
	--container-content: 1200px;
	/* COLOR */

	/* TYPE */
}

body {
	height: 100svh;
	font-family: var(--font-copy);
	overflow: clip;
}

@keyframes playbackProgress {
	from {
		width: var(--playback-progress, 0%);
	}
	to {
		width: 100%;
	}
}

@utility content-layout {
	max-width: var(--container-content);
	margin-inline: auto;
	padding-inline: 1rem;
}

@utility animate-playback-* {
	animation-name: "playbackProgress";
	animation-iteration-count: --value(integer, "infinite");
	animation-duration: var(--playback-duration, 1s);
	animation-play-state: var(--playback-state);
}

@utility grid-res-cols-* {
	grid-template-columns: repeat(
		auto-fit,
		minmax(--value(--container- *), 1fr)
	);
}

@utility overlay {
	position: relative;
	&::after {
		content: "";
		pointer-events: none;
		position: absolute;
		inset: 0;
		background-image: linear-gradient(
			to left,
			rgb(255 255 255 / 90%),
			rgb(255 255 255 / 0%) 50%
		);
	}
}

@utility scroller {
	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.5rem;
		transition: opacity 0.15s ease-in;
	}

	&::-webkit-scrollbar-button {
		width: 0.25rem;
		height: 0;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-slate-200);
		border-radius: 1rem;
	}
	&::-webkit-scrollbar-track {
		background-color: transparent;
	}
}

@utility scroller-hidden {
	&::-webkit-scrollbar {
		opacity: 0;
		width: 0.5rem;
		height: 0.5rem;
	}
}

.fi {
	background-size: cover;
}
