@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-display: var(--font-manrope);
	--font-copy: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
		source-sans-pro, sans-serif;
}

@theme {
	--spacing-content: 1200px;
	/* COLOR */

	/* TYPE */
}

body {
	height: 100svh;
	font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
		source-sans-pro, sans-serif;
	font-weight: 300;
	overflow-y: clip;

	--margin: 1rem;
	--content-width: 1200px;

	display: grid;
	grid-template-columns:
		minmax(var(--margin), 1fr) minmax(0, var(--content-width))
		minmax(var(--margin), 1fr);
	grid-template-rows: [header] auto [content] 1fr;

	> header,
	> main {
		grid-column: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;

		> *:not(.full-bleed) {
			grid-column: 2;
		}

		> .full-bleed {
			grid-column: 1 / -1;
			display: grid;
			grid-template-columns: subgrid;

			> *:not(.full-bleeed) {
				grid-column: 2;
			}
		}
	}

	> main {
		align-items: start;
		align-content: start;
		overflow-y: auto;
	}
}

@keyframes playbackProgress {
	from {
		width: var(--playback-progress, 0%);
	}
	to {
		width: 100%;
	}
}

@utility animate-playback-* {
	animation-name: "playbackProgress";
	animation-iteration-count: --value(integer, "infinite");
	animation-duration: var(--playback-duration, 1s);
	animation-play-state: var(--playback-state);
}

.fi {
	background-size: cover;
}

.scroller {
	scroll-behavior: smooth;
}

.scroller::-webkit-scrollbar {
	background: none;
	width: 0.5rem;
	height: 0.5rem;
}

.scroller::-webkit-scrollbar-button {
	width: 0;
}

.scroller::-webkit-scrollbar-thumb {
	background-color: var(--color-slate-200);
	border-radius: 1rem;
}

.scroller-hidden::-webkit-scrollbar-thumb {
	background-color: transparent;
	transition: all 0.15s ease-in;
}

.scroller::-webkit-scrollbar-track {
	background-color: transparent;
}

.scroller-hidden:hover {
	&::-webkit-scrollbar-thumb {
		background-color: var(--color-slate-200);
	}
}
